<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{CSS_PATH}bootstrap.css" rel="stylesheet" />
    <link href="{CSS_PATH}font-awesome.css" rel="stylesheet" />
    <link href="{CSS_PATH}basic.css" rel="stylesheet" />
    <link href="{CSS_PATH}custom.css" rel="stylesheet" />
</head>
<body>
<form action="index.php?m=admin&f=menu&a=checkdelcategory" method="post">
    <label>确定要该删除分类？</label>
    <input id="hid"  class="form-control" name="id" type="text" value="{$id}" >
    <table class="table" align="center">
        <thead>
        <tr align="center">
            <th>ID</th>
            <th>中文名字</th>
            <th>英文名字</th>
            <!--<th>图片</th>-->
            <th>父目录</th>
        </tr>
        </thead>
        <tbody>
        <tr class="" align="center">
            <td>{$id}</td>
            <td>{$name}</td>
            <td>{$enname}</td>
            <!--<td>{$thumb}</td>-->
            <td>{$cid}</td>
        </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-info">删除</button>
</form>
<a href="index.php?m=admin&f=menu&a=show"><button class="btn btn-success">返回 </button></a>

<script src="{JS_PATH}jquery-1.10.2.js"></script>
<script src="{JS_PATH}bootstrap.js"></script>
</body>
</html>