<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{CSS_PATH}bootstrap.css" rel="stylesheet" />
    <link href="{CSS_PATH}font-awesome.css" rel="stylesheet" />
    <link href="{CSS_PATH}basic.css" rel="stylesheet" />
    <link href="{CSS_PATH}custom.css" rel="stylesheet" />
</head>
<body>
<div class="row">
    <div class="col-md-12">
        <h1 class="page-head-line">修改密码</h1>
    </div>
    <div class="col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <!--BASIC FORM-->
            </div>
            <div class="panel-body">
                <form role="form" action="index.php?m=admin&f=menu&a=checkpass" method="post">
                    <input value="{$user}" style="display: none"  class="form-control" name="user" type="text">
                    <div class="form-group">
                        <label>Your user</label>
                        <input value="{$user}" disabled  class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Enter old passworld</label>
                        <input class="form-control" name="oldpass" type="text">
                    </div>
                    <div class="form-group">
                        <label>Enter new passworld</label>
                        <input class="form-control" name="newpass" type="text">
                    </div>

                    <button type="submit" class="btn btn-info">确定</button>

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>