<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{CSS_PATH}bootstrap.css" rel="stylesheet" />
    <link href="{CSS_PATH}font-awesome.css" rel="stylesheet" />
    <link href="{CSS_PATH}basic.css" rel="stylesheet" />
    <link href="{CSS_PATH}custom.css" rel="stylesheet" />
</head>
<body>
<form action="index.php?m=admin&f=webinfo&a=checknewwebinfo" method="post" enctype="multipart/form-data">
    <input id="hid"  class="form-control" name="id" type="text" value="{$brr['id']}" >
    <div class="form-group">
        <label>名字</label>
        <input  class="form-control" name="name" value="{$brr['webname']}" type="text">
    </div>
    <div class="form-group">
        <label>地址</label>
        <input  class="form-control" name="address" value="{$brr['webaddress']}" type="text">
    </div>
    <div class="form-group">
        <label>电话</label>
        <input class="form-control" name="tel" value="{$brr['webtelephone']}"  />
    </div>
    <div class="form-group">
        <label>邮箱</label>
        <input class="form-control"  name="email" value="{$brr['webemail']}"  />
    </div>
    <div class="form-group">
        <label>公众号</label>
        <input  class="form-control" name="fax" value="{$brr['webpublic']}"  />
    </div>
    <div class="form-group">
        <label>网址</label>
        <input  class="form-control" name="website" value="{$brr['website']}"  />
    </div>
    <div class="form-group">
        <label>版权信息</label>
        <input  class="form-control" name="copy" value="{$brr['copyright']}"  />
    </div>
    <button type="submit" class="btn btn-info">保存 </button>
</form>
<a href="index.php?m=admin&f=webinfo&a=show"><button class="btn btn-success">返回</button></a>
<script src="{JS_PATH}jquery-1.10.2.js"></script>
<script src="{JS_PATH}bootstrap.js"></script>
</body>
</html>