<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="{INDEX_CSS_PATH}index.css">
	<script src="{INDEX_JS_PATH}index.js"></script>
	<script src="{INDEX_JS_PATH}jquery-3.3.1.min.js"></script>
</head>
<body>
<!--头部搜索-->
	<div class="search">
		<form action="" class="search_f">
			<input type="text" placeholder="快来搜搜~">
			<div class="search_right">
				<a href="">
					<i class="iconfont">&#xe612;</i>
				</a>
			</div>
			<div class="search_h1"></div>
			<div class="search_h2"></div>
			<div class="search_s"></div>
		</form>
	</div>
<!--头部-->
	<header></header>
<!--西点烘焙-->
	<section class="westbake">
		<div class="westbake_left">
			<div class="westbake_l_txt1">
				<p>W e s t P o i n t B a k i n g</p>
				<h2>西点烘焙</h2>
				<p>WestPointBaking</p>
				<div></div>
			</div>
			<p class="westbake_l_txt2">
				西点，从中文来说有两种意思，一为西方的点心，二为西点军校（世界上最好的
				军校）的那个西点；而英文WestPoint则代表西点军校；中西结合，则表达了这
				家烘焙店就是要成为面包界的西点军校。
				</br></br>
				西点，从中文来说有两种意思，一为西方的点心，二为西点军校（世界上最好的
				军校）的那个西点；而英文WestPoint则代表西点军校；
			</p>
			<div class="westbake_l_txt3">
				The meaning of life is fashionable and sunny
			</div>
			<div class="westbake_l_txt4"><a href="">MORE</a></div>
		</div>
		<div class="westbake_right">
			<img src="{INDEX_IMG_PATH}wq1.jpg" alt="">
		</div>
	</section>
<!--产品展示-->
	<div class="show">
		<div class="show_title">
			<h1>PRODUCT</h1>
			<p>产品展示</p>
			<div></div>
			<div></div>
		</div>
		<div class="show_swiper">
			<div class="show_s_bannerbox">
				<ul class="show_s_banner">
					<!--每一层banner图-->
					<li class="show_s_banner_li1">
						<div class="show_banner_pic1">
							<a href="">
								<img src="{INDEX_IMG_PATH}wqdfds1_01.png" alt="">
							</a>
						</div>
						<div class="show_banner_pic1">
							<a href="">
								<img src="{INDEX_IMG_PATH}wqdfds1_06.png" alt="">
							</a>
						</div>
						<div class="show_banner_pic1">
							<a href="">
								<img src="{INDEX_IMG_PATH}wqdfds1_17.png" alt="">
							</a>
						</div>
					</li>
					<li class="show_s_banner_li1 show_s_banner_li2">
						<div class="show_banner_pic1">
							<a href="">
								<img src="{INDEX_IMG_PATH}wqdfds1_06.png" alt="">
							</a>
						</div>
						<div class="show_banner_pic1">
							<a href="">
								<img src="{INDEX_IMG_PATH}wqdfds1_17.png" alt="">
							</a>
						</div>
						<div class="show_banner_pic1">
							<a href="">
								<img src="{INDEX_IMG_PATH}wqdfds1_01.png" alt="">
							</a>
						</div>
					</li>
					<li class="show_s_banner_li1 show_s_banner_li3">
						<div class="show_banner_pic1">
							<a href="">
								<img src="{INDEX_IMG_PATH}wqdfds1_17.png" alt="">
							</a>
						</div>
						<div class="show_banner_pic1">
							<a href="">
								<img src="{INDEX_IMG_PATH}wqdfds1_06.png" alt="">
							</a>
						</div>
						<div class="show_banner_pic1">
							<a href="">
								<img src="{INDEX_IMG_PATH}wqdfds1_01.png" alt="">
							</a>
						</div>
					</li>
				</ul>
			</div>
			<ul class="show_s_bannerlbd">
				<li></li>
				<li></li>
				<li class="show_lbdactive"></li>
			</ul>
		</div>
		<div class="show_bottom">
			<div class="show_b_txt">
				<div class="show_txt_grid">
					<p>GRANT </br>VISION</p>
					<p>阳光的味道，自然的美味，新鲜到最后一篇，美国里根牌面包 爱上精致生活 爱上斯威特</p>
				</div>
				<div class="show_txt_grid">
					<p>GRANT </br>VISION</p>
					<p>阳光的味道，自然的美味，新鲜到最后一篇，美国里根牌面包 爱上精致生活 爱上斯威特</p>
				</div>
				<div class="show_txt_grid">
					<p>GRANT </br>VISION</p>
					<p>阳光的味道，自然的美味，新鲜到最后一篇，美国里根牌面包 爱上精致生活 爱上斯威特</p>
				</div>
			</div>
			<img src="{INDEX_IMG_PATH}wqmbv.jpg" alt="">
		</div>
	</div>
<!--面点师-->
	<div class="baker">
		<div class="show_title baker_title">
			<h1>PRODUCT</h1>
			<p>面点师</p>
			<div></div>
			<div></div>
		</div>
		<div class="baker_content">
			<div class="baker_horn1"></div>
			<div class="baker_horn2"></div>
			<div class="baker_horn3"></div>
			<div class="baker_horn4"></div>
			<div class="baker_bannerbox">
				<div class="baker_banner_tiao">
					<div class="baker_b_every">
						<a href="">
							<img src="{INDEX_IMG_PATH}wqdsada_06.png" alt="">
							<div class="baker_every_introduceN">
								<span>李师傅</span>
								<span>著名烘焙大师 西点师</span>
							</div>
							<div class="baker_every_introduceC">
								最好的朋友就是那批新鲜出炉的面包，烘焙刚好的面包伙伴，暖胃又暖心，天天都能让人思念
							</div>
							<section></section>
							<section></section>
						</a>
					</div>
					<div class="baker_b_every">
						<a href="">
							<img src="{INDEX_IMG_PATH}qqq.jpg" alt="">
							<div class="baker_every_introduceN">
								<span>詹姆斯</span>
								<span>著名烘焙大师 西点师</span>
							</div>
							<div class="baker_every_introduceC">
								最好的朋友就是那批新鲜出炉的面包，烘焙刚好的面包伙伴，暖胃又暖心，天天都能让人思念
							</div>
							<section></section>
							<section></section>
						</a>
					</div>
					<div class="baker_b_every">
						<a href="">
							<img class="imgactive" src="{INDEX_IMG_PATH}wqdsada_09.png" alt="">
							<div class="baker_every_introduceN introduceNactive">
								<span>Toms</span>
								<span>著名烘焙大师 西点师</span>
							</div>
							<div class="baker_every_introduceC introduceCactive">
								最好的朋友就是那批新鲜出炉的面包，烘焙刚好的面包伙伴，暖胃又暖心，天天都能让人思念
							</div>
							<section></section>
							<section></section>
						</a>
					</div>
					<div class="baker_b_every">
						<a href="">
							<img src="{INDEX_IMG_PATH}wwww.jpg" alt="">
							<div class="baker_every_introduceN">
								<span>+闻 周</span>
								<span>著名烘焙大师 西点师</span>
							</div>
							<div class="baker_every_introduceC">
								最好的朋友就是那批新鲜出炉的面包，烘焙刚好的面包伙伴，暖胃又暖心，天天都能让人思念
							</div>
							<section></section>
							<section></section>
						</a>
					</div>
					<div class="baker_b_every">
						<a href="">
							<img src="{INDEX_IMG_PATH}eeee.jpg" alt="">
							<div class="baker_every_introduceN">
								<span>Jean</span>
								<span>著名烘焙大师 西点师</span>
							</div>
							<div class="baker_every_introduceC">
								最好的朋友就是那批新鲜出炉的面包，烘焙刚好的面包伙伴，暖胃又暖心，天天都能让人思念
							</div>
							<section></section>
							<section></section>
						</a>
					</div>
				</div>
			</div>
			<ul class="leftkey"></ul>
			<ul class="rightkey"></ul>
		</div>
	</div>
<!--新闻中心-->
	<div class="news">
		<div class="show_title">
			<h1>PRODUCT</h1>
			<p>新闻中心</p>
			<div></div>
			<div></div>
		</div>
		<div class="news_content">
			<!--每一个-->
			<div class="news_con_every">
				<div class="new_every_top">
					<a href="">
						<img src="{INDEX_IMG_PATH}wqdvdvssc_03.png" alt="">
					</a>
				</div>
				<div class="new_every_bottom">
					<div class="new_e_b_left">
						<p>25</p>
						<div class="news_ll">
							<i class="iconfont">&#xe61a;</i>
							<span>956</span>
						</div>
						<div class="news_ll news_xh">
							<i class="iconfont">&#xe603;</i>
							<span>35</span>
						</div>
					</div>
					<div class="new_e_b_right">
						<h3>邂逅甜点森林</h3>
						<div class="new_right_one">
							<ul></ul>
							<p>创业=生命的孕育</p>
						</div>
						<p>甜心有亲爱的意思，又可作甜甜的点心之意，大洋西岸就知了地区，所以
							知道是中西结合的烘焙，英文名用</p>
						<p>It is more than centain that the world is going straight
						to hell.Climate chang comes an unprecedented rate.We can see all the polar.</p>
						<div class="new_right_two">
							<i class="iconfont">&#xe61a;</i>
							<span>Sweebread</span>
						</div>
					</div>
				</div>
			</div>
			<div class="news_con_every">
				<div class="new_every_top">
					<a href="">
						<img src="{INDEX_IMG_PATH}wqdvdvssc_03.png" alt="">
					</a>
				</div>
				<div class="new_every_bottom">
					<div class="new_e_b_left">
						<p>25</p>
						<div class="news_ll">
							<i class="iconfont">&#xe61a;</i>
							<span>956</span>
						</div>
						<div class="news_ll news_xh">
							<i class="iconfont">&#xe603;</i>
							<span>35</span>
						</div>
					</div>
					<div class="new_e_b_right">
						<h3>邂逅甜点森林</h3>
						<div class="new_right_one">
							<ul></ul>
							<p>创业=生命的孕育</p>
						</div>
						<p>甜心有亲爱的意思，又可作甜甜的点心之意，大洋西岸就知了地区，所以
							知道是中西结合的烘焙，英文名用</p>
						<p>It is more than centain that the world is going straight
							to hell.Climate chang comes an unprecedented rate.We can see all the polar.</p>
						<div class="new_right_two">
							<i class="iconfont">&#xe61a;</i>
							<span>Sweebread</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="news_more"><a href="">MORE</a></div>
	</div>

</body>
</html>