<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻详情</title>
    <link rel="stylesheet" href="../../assets/index/css/new.css">
</head>
<body>
<header></header>
<section class="main">
    <div class="label">
        <div class="label_down"></div>
        <div class="label_up">
            <ul class="label_bread">
                <li>
                    <div class="icon">
                        <i>&#xe627;</i>
                    </div>
                    <a href="">首页</a>
                </li>
                <li>
                    <i class="jiantou">&#xe642;</i>
                    <div class="icon second">
                        <i>&#xe627;</i>
                    </div>
                    <a href="" class="sec">艾美挚美</a>
                </li>
                <li>
                    <i class="jiantou">&#xe642;</i>
                    <div class="icon second">
                        <i>&#xe627;</i>
                    </div>
                    <a href="" class="sec">最新订制</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="box">
        <div class="box_top">
            <h4>最新定制-澳洲特质水果面包</h4>
            <h5>R E C O M M E N U O N E R E C O M M E N U O N E R E C O M M E N U O N E</h5>
            <div class="label_text"><p>
                “蛋糕的美味就是可以让人吃了还想吃，拥有诱惑难挡的魅力。85度c蛋糕店里不仅有美味的蛋糕，还有面包、咖啡、茶饮等多种产品，让你多种口味随意选择，不管想吃哪种，这里都可以找到所需要的。”
            </p></div>
        </div>
        <div class="box_line">
            <div class="time">
                <span>&#xe619;</span>&nbsp;&nbsp;2018.01.15
                <span>&#xe60d;</span>&nbsp;&nbsp;2360
            </div>
        </div>
        <div class="box_top box_title">
            <h4>保证味蕾的超享受使我们一直追寻的宗旨</h4>
            <h5>R E C O M M E N U O N E </h5>
        </div>
        <p class="cake">蛋糕的美味就是可以让人吃了还想吃，拥有诱惑难挡的魅力。85度c蛋糕店里不仅有美味的蛋糕，还有面包、咖啡、茶饮等多种产品，让你多种口味随意选择，不管想吃哪种，这里都可以找到所需要的。</p>
        <p class="maintext">公司文化:公司以“专注网站,用心服务”为核心价值,一切以用户需求为中心,希望通过专业水平和不懈努力,重塑企业网络形象,为企业产品推广文化发展提供服务指导;塑企业网络形象,为企业产品推广文化发展提供塑企业网络形象,为企业产品推广文化发展提供
        </p>
        <p class="maintext">三年来,XX网站策划一直秉承以用户需求为核心,在专注XX本地市场开拓的同时,为超过一百家中小企业提供网站策划服务,优质、用心的服务赢得了众多企业的信赖和好评,在XX地区逐渐树立起公司良好品牌。公司不仅仅提供专业的网站策划服务,同时还建立了完善的售后服务体系,为企业发展中遇到的问题和困难提供指导帮助。我们相信,通过我们的不断努力和追求,一定能够实现与中小企业的互利共赢!</p>
        <img src="../../assets/index/images/new_lemon.png" alt="" id="lemon">
        <p class="maintext">公司文化:公司以“专注网站,用心服务”为核心价值,一切以用户需求为中心,希望通过专业水平和不懈努力,重塑企业网络形象,为企业产品推广文化发展提供服务指导;塑企业网络形象,为企业产品推广文化发展提供塑企业网络形象,为企业产品推广文化发展提供
        </p>
        <p class="maintext">三年来,XX网站策划一直秉承以用户需求为核心,在专注XX本地市场开拓的同时,为超过一百家中小企业提供网站策划服务,优质、用心的服务赢得了众多企业的信赖和好评,在XX地区逐渐树立起公司良好品牌。公司不仅仅提供专业的网站策划服务,同时还建立了完善的售后服务体系,为企业发展中遇到的问题和困难提供指导帮助。我们相信,通过我们的不断努力和追求,一定能够实现与中小企业的互利共赢!
        </p>
        <div class="box_photo">
            <img src="../../assets/index/images/new_13.png" alt="">
            <img src="../../assets/index/images/new_11.png" alt="">
        </div>
    </div>
    <section class="comment">
        <div class="box_top comment_top">
            <h4>会员评论区</h4>
            <h5>R E C O M M E N U O N E </h5>
        </div>
        <div class="comment_title">
            <h5>热门评论</h5>
            <h6>QUANBUCHANPING</h6>
        </div>
        <ul class="comment_list">
            <li>
                <div class="comment_photo">
                    <img src="../../assets/index/images/gyt_photo_06.png" alt="">
                </div>
                <div class="com">
                    <div class="com_top">
                        <h6>可爱的吃货</h6>
                        <span class="com_icon">
                        <i>&#xe619;</i>&nbsp;&nbsp;2018.01.13
                    </span>
                        <span class="com_icon eye">
                        <i>&#xe60d;</i>&nbsp;&nbsp;2360
                    </span>
                    </div>
                    <div class="com_line">
                        <span></span>
                        <span></span>
                    </div>
                    <p>厉害了这个新品，我要带朋友经常来光顾，吃友们有没有你们觉得美味的，帮我推荐一下好吗？</p>
                </div>
                <a href="" class="set">
                    <span>回复</span>
                </a>
            </li>
            <li class="back">
                <div class="comment_photo">
                    <img src="../../assets/index/images/gyt_photo_10.png" alt="">
                </div>
                <div class="com">
                    <div class="com_top">
                        <h6>甜点烘焙</h6>
                        <span class="com_icon">
                        <i>&#xe619;</i>&nbsp;&nbsp;2018.01.13
                    </span>
                        <span class="com_icon eye">
                        <i>&#xe60d;</i>&nbsp;&nbsp;2360
                    </span>
                    </div>
                    <div class="com_line">
                        <span></span>
                        <span></span>
                    </div>
                    <p>我推荐最新的法国风情马卡龙哦，送朋友很贴心美味好吃的呢！</p>
                </div>
                <a href="" class="set">
                    <span>回复</span>
                </a>
            </li>
            <li>
                <div class="comment_photo">
                    <img src="../../assets/index/images/gyt_photo_13.png" alt="">
                </div>
                <div class="com">
                    <div class="com_top">
                        <h6>可爱的吃货</h6>
                        <span class="com_icon">
                        <i>&#xe619;</i>&nbsp;&nbsp;2018.01.13
                    </span>
                        <span class="com_icon eye">
                        <i>&#xe60d;</i>&nbsp;&nbsp;2360
                    </span>
                    </div>
                    <div class="com_line">
                        <span></span>
                        <span></span>
                    </div>
                    <p>厉害了这个新品，我要带朋友经常来光顾，吃友们有没有你们觉得美味的，帮我推荐一下好吗？</p>
                </div>
                <a href="" class="set">
                    <span>回复</span>
                </a>
            </li>
            <li>
                <div class="comment_photo">
                    <img src="../../assets/index/images/gyt_photo_15.png" alt="">
                </div>
                <div class="com">
                    <div class="com_top">
                        <h6>可爱的吃货</h6>
                        <span class="com_icon">
                        <i>&#xe619;</i>&nbsp;&nbsp;2018.01.13
                    </span>
                        <span class="com_icon eye">
                        <i>&#xe60d;</i>&nbsp;&nbsp;2360
                    </span>
                    </div>
                    <div class="com_line">
                        <span></span>
                        <span></span>
                    </div>
                    <p>厉害了这个新品，我要带朋友经常来光顾，吃友们有没有你们觉得美味的，帮我推荐一下好吗？</p>
                </div>
                <a href="" class="set">
                    <span>回复</span>
                </a>
            </li>
            <li class="back">
                <div class="comment_photo">
                    <img src="../../assets/index/images/gyt_photo_10.png" alt="">
                </div>
                <div class="com">
                    <div class="com_top">
                        <h6>甜点烘焙</h6>
                        <span class="com_icon">
                        <i>&#xe619;</i>&nbsp;&nbsp;2018.01.13
                    </span>
                        <span class="com_icon eye">
                        <i>&#xe60d;</i>&nbsp;&nbsp;2360
                    </span>
                    </div>
                    <div class="com_line">
                        <span></span>
                        <span></span>
                    </div>
                    <p>我推荐最新的法国风情马卡龙哦，送朋友很贴心美味好吃的呢！</p>
                </div>
                <a href="" class="set">
                    <span>回复</span>
                </a>
            </li>
        </ul>
        <ul class="num">
            <li><a href="">上一页</a></li>
            <li class="number"><a href="">1</a></li>
            <li class="number" id="chose"><a href="">2</a></li>
            <li class="number"><a href="">3</a></li>
            <li class="number"><a href="">4</a></li>
            <li><a href="">下一页</a></li>
        </ul>
    </section>
    <div class="right_side">
        <img src="../../assets/index/images/new_right_18.png" alt="">
    </div>
    <div class="left_side">
        <img src="../../assets/index/images/new_left_20.png" alt="">
    </div>
</section>
<footer>
    <div class="empty"></div>
    <div class="dimgray"></div>
    <div class="gray">
        <p>北京市公安局朝阳分局备案编号:110105000501   Copyright © 2006-2016 ZCOOL</p>
    </div>
    <img src="../../assets/index/images/new_cookie_113.png" alt="">
    <div class="join">
        <span></span>
        <div class="join_bottom">
            <div class="join_left">
                <img src="../../assets/index/images/joinus_16.png" alt="">
                <p>请留下您的联系方式</p>
            </div>
            <form action="">
                <textarea name="" id="" cols="30" rows="10" resize="none"></textarea>
                <botton>发 送</botton>
            </form>
        </div>
    </div>
</footer>
</body>
</html>